#
# Copyright 2020, Data61, CSIRO (ABN 41 687 119 230)
#
# SPDX-License-Identifier: BSD-2-Clause
#

linux/out
linux/modules/**/*.cmd
linux/modules/**/*.ko
linux/modules/**/.*
linux/modules/**/Module.symvers
linux/modules/**/modules.order
linux/modules/**/*.mod.c
linux/**/*.o
linux/**/*.a
