#
# Copyright 2014, NICTA
#
# This software may be distributed and modified according to the terms of
# the GNU General Public License version 2. Note that NO WARRANTY is provided.
# See "LICENSE_GPLv2.txt" for details.
#
# @TAG(NICTA_GPL)
#

menuconfig APP_CAMKES_VM
    bool "VMM Main Application"
    default n
    depends on LIB_SEL4 && (LIB_MUSL_C || LIB_SEL4_C) && LIB_SEL4_VKA &&\
               LIB_SEL4_VMM && LIB_SEL4_UTILS && LIB_UTILS && LIB_SEL4_SIMPLE && LIB_SEL4_SIMPLE_STABLE && LIB_SEL4_PLAT_SUPPORT && LIB_LWIP
    help 
        Main application entry point for seL4 VMM. Should be run as the initial seL4 thread.

config APP_CAMKES_VM_GUEST_RAM
    int "Amount of RAM to give to guest OS, in megabytes."
    depends on APP_CAMKES_VM
    default 80
    help
        The amount of ram, in megabytes (in MB, a.k.a 1048576 bytes) to give to the guest OS.
        GUI desktop environments require more RAM, while minimal console busybox ones would
        require less.

choice
    prompt "DMA Support Implementation"
    depends on APP_CAMKES_VM
    default APP_CAMKES_VM_GUEST_DMA_IOMMU
    help
        Select how hardware DMA support is implemented.
    config APP_CAMKES_VM_GUEST_DMA_ONE_TO_ONE
        bool "One to one physical address mapping"
    config APP_CAMKES_VM_GUEST_DMA_IOMMU
        bool "IOMMU"
    config APP_CAMKES_VM_GUEST_DMA_NONE
        bool "None"
endchoice

config APP_CAMKES_VM_CONFIG
    prompt "Configuration"
    string
    depends on APP_CAMKES_VM
    default "nohardware_onevm"
    help
        Specify which of the configurations (in apps/vm/configurations) to use
        You can add additional configurations by adding a new .h file and updating
        apps/vm/configurations/vm.h accordingly    

config APP_CAMKES_VM_HPET_MSI
    bool "Use MSI delivery for HPET (requires hardware support)"
    depends on APP_CAMKES_VM
    default y

config APP_CAMKES_VM_ECHO_STATIC_IP
    prompt "Echo server IP Address"
    string
    depends on APP_CAMKES_VM
    default 10.13.1.215
    help
        If using a configuration with the Echo component this is the IP address
        it will try to use and respond to ARP requests on.
